<div class="top-bar">
  <div class="top-bar__container">
    <div class="top-bar__container__title">
      <img src="../../assets/logo.svg" alt="logo dos sistema">
      <p>Controle financeiro</p>
      <p class="top-bar__container__title__mobile-nav" (click)="changeSidebar()">&#8801;</p>
    </div>
    <div class="top-bar__container__menu">
      <div>Dashboard</div>
      <div class="top-bar__container__menu__divider"></div>
      <div>Resumo</div>
      <div class="top-bar__container__menu__divider"></div>
      <div>Configurações</div>
    </div>
  </div>
<div class="sidebar" [hidden]="!showSidebar">
  <p class="sidebar__close-button" (click)="changeSidebar()">&#x2715;</p>
  <div><p>Resumo</p></div>
  <div><p>Dashboard</p></div>
  <div><p>Configurações</p></div>
</div>
</div>
