.info {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    app-new-transaction {
      width: 35%;
    }

    app-extract {
      width: 65%;
    }
  }
}
