.info {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  &__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    app-new-transaction {
      width: 34%;
      height: 100%;

      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }

    app-extract {
      width: 64%;
      height: 100%;

      @media only screen and (max-width: 700px) {
        width: 100%;
      }
    }

    @media only screen and (max-width: 1024px) {
      width: 95%;
    }

    @media only screen and (max-width: 700px) {
      flex-direction: column;
    }
  }
}
