<div class="extract">
  <h2>Extrato de transações</h2>
  <div class="extract__header">
    <p>Mercadoria</p>
    <p>Valor</p>
  </div>

  <div class="extract__item">
    <span>+</span>
    <p>Título da mercadoria</p>
    <p>R$12.988,89</p>
  </div>

  <div class="extract__item">
    <span>-</span>
    <p>Título da mercadoria</p>
    <p>R$12.988,89</p>
  </div>

  <div class="extract__item">
    <span>-</span>
    <p>Título da mercadoria</p>
    <p>R$12.988,89</p>
  </div>

  <div class="extract__total">
    <p>Total</p>
    <div>
      <p>$12.988,89</p>
      <p>[LUCRO]</p>
    </div>
    
  </div>

</div>
