<div class="extract">
  <h2>Extrato de transações</h2>
  <div class="extract__header">
    <p>Mercadoria</p>
    <p>Valor</p>
  </div>
  
  <div class="extract__item" *ngFor="let transaction of transactions">
    <span *ngIf="transaction.transactionType === 1">-</span>
    <span *ngIf="transaction.transactionType !== 1">+</span>
    <p>{{transaction.transactionName}}</p>
    <p>R${{transaction.transactionValue}}</p>
  </div>

  <div class="extract__total">
    <p>Total</p>
    <div>
      <p>R$ {{total}}</p>
      <p class="extract__total__status-tag" *ngIf="total > 0">[LUCRO]</p>
      <p class="extract__total__status-tag" *ngIf="total < 0">[PREJUÍZO]</p>
    </div>
    
  </div>

</div>
