extract works

<div class="info__container__extract" [style.display="'none'"]>
  <p>Extrato de transação</p>

  <!-- Título -->
  <div class="info__container__extract__title">
    <p>Mercadoria</p>
    <p>Valor</p>
  </div>
  <div class="info__container__extract__divider"></div>

  <!-- Item -->
  <div class="info__container__extract__item">
    <div>
      <div>
        <p>+</p>
        <p>-</p>
        <p>Titulo Produto</p>
      </div>
    <p>R$ 12.900,99</p>
    </div>
    <div class="info__container__extract__divider"></div>
  </div>
</div>
