$sidebar-width: 250px;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-transaction {
  height: 280px;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  @media only screen and (min-width: 528px) and (max-width: 700px) {
    flex-direction: row;
  }

  &__title {
    @media only screen and (max-width: 528px) {
      display: none;
    }

    @media only screen and (min-width: 528px) and (max-width: 700px) {
      display: none;
    }
  }

  &__title {
    @media only screen and (max-width: 528px) {
      opacity: 0;
    }

    @media only screen and (max-width: 700px) {
      opacity: 0;
    }
  }

  &__title-mobile {
    top: 150px;

    @media only screen and (min-width: 700px) {
      display: none;
    }

    @media only screen and (max-width: 528px) {
      display: none;
    }
  }

  &__type {
    @media only screen and (min-width: 528px) and (max-width: 700px) {
      width: 220px;
      margin: 10px;
    }
  }

  &__name {
    @media only screen and (min-width: 528px) and (max-width: 700px) {
      width: 50%;
      margin: 10px;
    }
  }

  &__value {
    @media only screen and (min-width: 528px) and (max-width: 700px) {
      width: 25%;
      margin: 10px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    width: 95%;

    input {
      height: 20px;
    }
    select {
      height: 25px;
      color: #979797;
    }
  }

  &__add-transaction-button {
    width: 95%;
    background-color: black;
    color: white;
    height: 26px;
    border-radius: 6px;

    @media only screen and (min-width: 528px) and (max-width: 700px) {
      display: none;
    }
  }

  &__add-transaction-button-mobile {
    background-color: black;
    color: white;
    height: 24px;
    width: 210px;
    border-radius: 6px;

    @media only screen and (min-width: 700px) {
      display: none;
    }

    @media only screen and (max-width: 528px) {
      display: none;
    }
  }

  @media only screen and (max-width: 528px) {
    border: none;
    border-bottom: 0.5px solid black;
    border-radius: 0px;
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 528px) and (max-width: 700px) {
    height: 150px;
  }
}
