<div class="new-transaction">
  <p>Nova transação</p>

  <div>
    <label for="transactionType">Tipo de transação</label>
    <select name="transactionType" id="cars" [style.height]="'26px'">
      <option value="1">Compra</option>
      <option value="2">Venda</option>
    </select>
  </div>
  <div>
    <label for="itemName">Nome da Mercadoria</label>
    <input name="itemName" type="text">
  </div>
  <div>
    <label for="itemValue">Valor</label>
    <input name="itemValue" type="text">
  </div>

  <button class="new-transaction__add-transaction-button"> Adicionar Transação</button>

</div>


