<div class="new-transaction">
  
  <p>Nova transação</p>

  <div>
    <label for="transactionType">Tipo de transação</label>
    <select [(ngModel)]="item.transactionType" name="transactionType">
      <option value="1">Compra</option>
      <option value="2">Venda</option>
    </select>
  </div>

  <div>
    <label for="itemName">Nome da Mercadoria</label>
    <input [(ngModel)]="item.transactionName" name="itemName" type="text" placeholder="Input">
  </div>

  <div>
    <label for="itemValue">Valor</label>
    <input [(ngModel)]="item.transactionValue" name="itemValue" type="text" placeholder="R$ 0,00">
  </div>

  <button class="new-transaction__add-transaction-button" (click)="addTransaction()"> Adicionar Transação</button>

</div>



